body{
    background: url(../img/backgroundF.jpg) repeat center center fixed;
    background-size: unset;
}
#logo{
    background: url(../img/logo5.png) center center fixed;
    background-size: 5% 5%;
}
#letraLogo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 250%;
    padding-top: 0%;
    
}
#modal-content{
    background-color: maroon;
    opacity: .95;
    padding: 0 20px;
    box-shadow: 0px 0px 13px maroon;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    padding-top: 0%;
    color: white;
    border-radius: unset;
}
#cent{
    text-align: center;
    font-size: 200%;
}
#link{
    justify-content: center;
}
#link a{
    display: inline-block;
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 1%;
}
#right{
    margin-left: 50%;
}
#link a:hover{
    background-color: sienna;
}
.main-section{
    margin: 0 auto;
    padding: 0;
}
.modal-content{
    background-color: maroon;
    opacity: .95;
    padding: 0 20px;
    box-shadow: 0px 0px 13px maroon;
}

.user-img{
    margin-top: -50px;
    margin-bottom: 35px;
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    padding-top: 0%;
    color: white;
}
h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 150%;
    padding-top: 0%;
    color: white;
    font: bold;
    padding-top: 3%;
}

.user-img img{
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 3px darkred;
    border-radius: 50%;
}

.form-group input{
    height: 38px;
    font-size: 16px;
    border: 0;
    padding-left: 54px;
    border-radius: 15px;
}
.form-group::before{
    font-family: "Font Awesome\ 5 free";
    position: absolute;
    left: 30px;
    font-size: 18px;
    padding-top: 6px;
}

.form-group#user-group::before{
    content: "\f007";
}

.form-group#contraseña-group::before{
    content: "\f023";
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }